*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Trebuchet MS',sans-serif;
scroll-behavior:smooth;
}

body{
background:#0b0b0b;
color:#fff;
line-height:1.6;
}


/* HEADER */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#111;
border-bottom:2px solid gold;
position:sticky;
top:0;
z-index:1000;
}

header h1{
color:gold;
letter-spacing:2px;
}


/* NAVIGATION */

nav a{
margin-left:20px;
text-decoration:none;
color:white;
font-weight:bold;
transition:0.3s;
}

nav a:hover{
color:gold;
text-shadow:0 0 10px gold;
}


/* PROFILE */

.profile{
text-align:center;
padding:60px 20px;
background:#111;
border-bottom:2px solid gold;
}

.profile-container{
max-width:600px;
margin:auto;
}

.profile-img{
width:150px;
height:150px;
border-radius:50%;
border:3px solid gold;
box-shadow:0 0 15px gold;
margin-bottom:20px;
}

.profile h2{
color:gold;
font-size:28px;
margin-bottom:10px;
}

.profile p{
color:#ddd;
}


/* SECTIONS */

.section{
padding:80px 10%;
text-align:center;
animation:fadeIn 1s ease;
}

.section h2{
color:gold;
margin-bottom:20px;
font-size:32px;
}


/* SKILLS */

.skills-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
margin-top:30px;
}

.card{
background:#1a1a1a;
padding:20px 40px;
border-radius:10px;
border:1px solid gold;
box-shadow:0 0 10px rgba(255,215,0,0.3);
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 0 20px gold;
}


/* PROJECTS */

.projects-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:30px;
margin-top:30px;
}

.project-link{
text-decoration:none;
color:inherit;
}

.project-card{
background:#1a1a1a;
padding:30px;
width:260px;
border-radius:12px;
border:1px solid gold;
box-shadow:0 0 10px rgba(255,215,0,0.3);
transition:0.4s;
cursor:pointer;
}

.project-card:hover{
transform:scale(1.08);
box-shadow:0 0 25px gold;
}


/* CONTACT */

#contact p{
margin-top:10px;
}


/* FOOTER */

footer{
text-align:center;
padding:30px;
background:#111;
border-top:2px solid gold;
margin-top:50px;
color:gold;
}


/* ANIMATION */

@keyframes fadeIn{

from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}

}